# gradle

.gradle/
build/classes
build/devlibs
build/generated
# build/libs
build/loom-cache
build/resources
build/tmp
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/config
run/data
run/logs
# run/mods
run/resourcepacks
run/resources
run/saves
run/options.txt
run/usercache.json

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
